<!-- Tabla de productos.  -->
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Descripccion</th>
            <th scope="col">Categoria</th>
            <th scope="col">Imagen</th>
            <th scope="col">ACCIONES</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let col of coleccionProductos">
            <th scope="row">1</th>

            <td>
                <img src="{{col.imagen}}" alt="{{col.alt}}">
            </td>
            <td>{{col.nombre}}</td>
            <td>{{col.precio}}</td>
            <td>{{col.descripccion}}</td>
            <td>{{col.categoria}}</td>


            <!-- ACCIONES. -->
            <td>
                <button id="btn-edit" title="Editar" type="button" class="btn btn-outline-warning"
                 data-bs-toggle="modal" data-bs-target="#editarProducto" (click)="mostrarEditar(col)">
                    <mat-icon>edit</mat-icon>
                </button>

                <button id="btn-edit" title="Eliminar" type="button" class="btn btn-outline-danger" 
                data-bs-toggle="modal" data-bs-target="#eliminarProducto" (click)="mostrarBorrar(col)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>

        </tr>
    </tbody>

</table>

<!-- Boton modal: agregar nuevos productos -->
<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#agregarProducto">
    Agregar nuevo producto
</button> <!-- Cambiamos ID y CLASS :) -->

<!-- Modal -->
<div class="modal fade" id="agregarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Ingrese un nuevo producto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Cuerpo del modal  -->
            <div [formGroup]="producto" class="modal-body">
                <div class="mb-3">
                    <Label class="form-label">Ingrese nombre de producto</Label>
                    <input class="form-control" type="text" formControlName="nombre" placeholder="Ej: Tarta de ricota" >
                </div>

                <div class="mb-3">
                    <Label class="form-label">Ingrese precio del producto</Label>
                    <input class="form-control" type="number" formControlName="precio" placeholder="Ej 3.000$" >
                </div>

                <div class="mb-3">
                    <Label class="form-label">Ingrese descripccion del producto</Label>
                    <input class="form-control" type="text" formControlName="descripccion" placeholder="Ej: Masa hecha a mano, con..." >
                </div>


                <div class="mb-3">
                    <Label class="form-label">Ingrese Imagen del producto</Label>
                    <input class="form-control" type="text" formControlName="imagen" placeholder="Insertar">
                </div>
                
                <div class="mb-3">
                    <Label class="form-label">Ingrese ALT</Label>
                    <input class="form-control" type="text" formControlName="alt" placeholder="Insertar">
                </div>

                <div class="mb-3">
                    <Label class="form-label">Seleccione una categoria</Label>
                    <select class="form-control" formControlName="categoria" class="form-select">
                        <option selected>Elije una opccion</option>
                        <option value="bordados">bordados</option>
                        <option value="estampados">estampados</option>
                        <option value="lisas">lisas</option>
                    </select>
                </div>

            </div>
            <!-- Acciones del modal  -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="agregarProducto()" data-bs-dismiss="modal">Guardar</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


  
  <!-- Modal -->
  <div class="modal fade" id="eliminarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
          <button type="button" class="btn btn-primary" (click)="eliminarProducto">eliminar producto</button>
        </div>
      </div>
    </div>
</div>