.container{
    display: flex;
    padding: 10px;
    justify-content: center;
    gap: 20px; 
}

h1{
    text-align: center;
}

.contenido{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(255, 252, 252, 0.1);
    width: 200px; 
}

p{
    padding: 5px;
}

.imagen{
    width: 100px;
  height: auto;
}